* {
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    color: #e3e3e3;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    margin: 1em;
}

.nav-style {
    font-size: 1.2em;
    background: #c93e3e;
    margin: 0em;
    padding: 0em;
    height: 3.1em;
    display: flex;
    position: relative;
    outline: 1px solid #455d7a;

}

.nav-style ul {
    display: flex;
    list-style: none;
    margin: 0em;
    padding: 0em;
}

.nav-item {
    min-width: 5.8em;
    max-width: 7em;
    outline: 1px solid #455d7a;
    display: flex;
}

.nav-item a {
    text-decoration: none;
    position: relative;
    display: table-cell;
    padding: 1em;
    min-width: 5.8em;
    text-align: center;
}

.nav-item a:hover {
    background: radial-gradient(#f95959 10%, #c93e3e)
}

.logout-button {
    position: absolute;
    right: 0em;
    height: 3.1em;
}

.background {
    background: linear-gradient(#1a2531 50%, #273546);
    margin: 0em;
}

.form-box {
    display: table-cell;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 22em;
    min-height: 13em;
    max-width: 40em;
    max-height: 40em;
    border-radius: 5%;
    border: 4px solid #f95959;
    background-color: #1a2531;
    box-shadow: 1px 1px 10px 0px #471930;
}

.form-box button {
    margin-bottom: 2em;
}

input,
button,
textarea,
select {
    background-color: #455d7a;
}

.form-box p textarea {
    resize: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

table {
    border-radius: 5%;
    border: 2px solid #f95959;
    background-color: #1a2531;
    box-shadow: 1px 1px 10px 0px #471930;
    border-spacing: 0px;
    text-decoration: none;

}

th {
    background-color: #455d7a;
    border: 1px solid #f95959;
    font-size: larger;
    padding: 0em 1em;
}

td {
    text-align: center;
    border: 1px solid #f95959;
    font-size: large;
}

.table-link {
    padding: 0em 0.2em;
    text-decoration: none;
    position: relative;
    text-align: left;
    flex: auto;
}

a:hover {
    text-decoration: underline;
}

td a:hover {
    background-color: #516d8f;
}

td:first-child {
    display: flex;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #455d7a;
}

.first-color {
    background: #233142;
    /* font-family: 'PT Sans Narrow', sans-serif; */
}

.second-color {
    background: #455d7a;
}

.third-color {
    background: #f95959;
}

.fourth-color {
    background: #e3e3e3;
}
