{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=PT+Sans+Narrow:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body class="background">
        <header>
            <nav class="nav-style">
                <ul class="">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li class="nav-item logout-button">
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% block header %}
            {% endblock header %}
        </header>
        <main>
            {% block main %}
            {% endblock main %}
        </main>
    </body>
</html>
