{% extends 'base.html' %}

{% block title %}
    Projects
{% endblock title %}
{% block header %}
{% endblock header %}
{% block main %}
    <div>
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if list_projects|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in list_projects %}
                        <tr>
                            <td>
                                <a href="{% url 'show_project' project.id %}" class="table-link">
                                    {{ project.name }}
                                </a>
                            </td>
                            <td>{{ project.tasks.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You are not assigned to any projects</p>
        {% endif %}
    </div>
{% endblock main %}
